@import "./themes.css";
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

:root {
  --header-height: 72px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-primary);
  color: var(--fg-primary);
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

section {
  padding: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--fg-primary);
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

h1,
h2 {
  font-family: "Crimson Text", serif;
}

p {
  margin-bottom: 1rem;
}

.clickable,
button {
  cursor: pointer;
  transition: all 0.3s ease;
}

.clickable:hover,
button:hover {
  text-shadow: var(--text-shadow);
  background-color: var(--fg-secondary);
}

.clickable:active,
button:active {
  transform: scale(0.95);
  opacity: 0.8;
}

a {
  color: var(--accent);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--accent);
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border);
  border-radius: 4px;
  font-weight: 500;
  transition: all 0.3s ease;
  background-color: var(--fg-primary);
  color: var(--bg-primary);
  font-size: 1.05rem;
  width: fit-content;
}

input,
textarea {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid var(--border);
  border-radius: 4px;
  background-color: var(--bg-secondary);
  color: var(--fg-primary);
  transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: var(--accent);
  outline: none;
  box-shadow: 0 0 0 2px rgba(var(--accent-rgb), 0.2);
}

.icon-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: transparent;
}
