:root {
  --color-0: #ffffff;
  --color-1: #f8f9fa;
  --color-2: #eaeaea;
  --color-3: #cccccc;
  --color-4: #999999;
  --color-5: #666666;
  --color-6: #444444;
  --color-7: #2e2e2e;
  --color-8: #1a1a1a;
  --color-9: #000000;
  --text-shadow: 0 0 7px var(--color-0);
}

:root[data-theme="light"] {
  --bg-primary: var(--color-0);
  --bg-secondary: var(--color-1);
  --fg-primary: var(--color-9);
  --fg-secondary: var(--color-6);
  --border: var(--color-3);
}

:root[data-theme="dark"] {
  --bg-primary: var(--color-9);
  --bg-secondary: var(--color-8);
  --fg-primary: var(--color-0);
  --fg-secondary: var(--color-3);
  --border: var(--color-6);
}
