.aboutSection {
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--bg-primary);
}

.contentContainer {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: flex-start;
}

.imageContainer {
  position: sticky;
  top: calc((var(--header-height) + 2rem));
  align-self: flex-start;
  height: fit-content;
  transition: all 1s ease;
}
.imageContainer.bigger {
  flex: 2;
}
.imageContainer.smaller {
  flex: 1;
}
.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.textContainer {
  flex: 3;
  display: flex;
  flex-direction: column;
  transition: all 1s ease;
}

@media (max-width: 768px) {
  .contentContainer {
    flex-direction: column;
    gap: 2rem;
  }

  .imageContainer {
    max-width: 100%;
    position: initial;
  }

  .heading {
    font-size: 2rem;
  }
}
