.expandableWrapper {
  position: relative;
  transition: flex-grow 1s ease;
  min-width: 0;
}
.expandableContent {
  transition: height 1s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
.clampedContent {
  text-overflow: ellipsis;
}

.measurements {
  pointer-events: none;
  position: absolute;
  visibility: hidden;
  max-width: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.visible {
  max-height: min-content;
}
.hidden {
  max-height: 0;
}
